<div class="main-content">
    <div class="container pt-50">
        <div class="card bg-light">
            <div class="card-title">
                <h2>Aplicación</h2>
                <h3 class="app-name">Reserva Hora</h3>
            </div>
    
            <div class="card-body">
                <p>¿Necesitas un sistema para controlar las reservas de tu negocio? Con nuestra aplcación prodrás
                    gestionarlas de una forma sencilla, sin preocupaciones y con seguridad.</p>
                <button class="btn" (click)="registerAdmin()">Registro</button>
            </div>
    
        </div>
    </div>
</div>